<div style={"display: flex; justify-content: space-around;"}>
<%= if @current_user do %>
  <div style="padding: 0.4rem;"><%= link "Locations", to: "/locations" %></div>
  <div style="padding: 0.4rem;"><%= link "Logout", to: Routes.user_session_path(@conn, :delete), method: :delete %></div>
<% else %>
  <div><%= link "Register", to: Routes.user_registration_path(@conn, :new) %></div>
  <div><%= link "Log in", to: Routes.user_session_path(@conn, :new) %></div>
<% end %>
</div>
